.calculator {
	width: 300px;
	margin: 50px auto;
	background-color: #ddd;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.display input {
	border: none;
	background-color: #fff;
	font-size: 24px;
	width: 100%;
	text-align: right;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

button {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 24px;
	cursor: pointer;
}

button:hover {
	background-color: #eee;
}